@tailwind base;
@tailwind components;
@tailwind utilities;


.wspre {
    white-space: pre;
}
/* globals.css */

/* Mode Terang */
@media (prefers-color-scheme: light) {
    body {
      /* Gaya untuk tema terang */
      background-color: #FDFDFD; /* Warna latar belakang tema terang */
      color: #1E1E1E; /* Warna teks untuk tema terang */
    }
  }
  
  .overflow-x-auto::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .overflow-x-auto {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .overflow-auto::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .overflow-auto {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .fadeIn3 {
    opacity: 0;
    animation: fadeIn .3s ease-in-out forwards;
    -webkit-animation: fadeIn .3s ease-in-out forwards;
  }

  .fadeOut {
    opacity: 1;
    animation: fadeOut .3s ease-in-out forwards;
    -webkit-animation: fadeOut .3s ease-in-out forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
  }
    to {
      opacity: 1;
  }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
  }
    to {
      opacity: 0;
  }
}